.VariantContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  gap: 20px;
}
.VariantSelectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-bottom: 10px;
  border: 1px solid #f2f2f2;
}
.VariantSelectContainerSelected {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 1px solid #FD6B21;
  padding-bottom: 10px;
}

.VariantSelectContainer:hover, .VariantSelectContainerSelected:hover {
  border: 1px solid #FD6B21;
  cursor: pointer;
}

.ReviewFormContainer{
  background-color: #F2F2F2;
  width: 100%;
  margin-bottom: 100px;
}
.ReviewForm{
  background-color: transparent;
  width: 100%;
  padding: 5% 15%;
}

.ReviewFormLabel{
  margin-top: 15px;
  margin-bottom: 10px;
  color: black;
  display: flex;
  font-family: Apercu Pro, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.ListOfErrors{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  gap: 5px;
  padding: 20px;
  border: 1px solid #f2f2f2;
  background-color: #e0abab;
  border-radius: 25px;
}
.ListOfErrors li{

  color: rgb(171, 23, 23);
  display: flex;
  font-family: Apercu Pro, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.FormError{
  color: red;
  /* font-size: 14px; */
  /* margin-top: 5px;
  margin-bottom: 5px; */
  margin-left: 20px;
}

.ReviewFormControl input,
.ReviewFormControl textarea {
  margin-top: 0;
    margin-bottom: 5px;
    width: 100%;
    display: initial;
    font-family: Apercu Pro,
      -apple-system,
      BlinkMacSystemFont,
      Helvetica,
      sans-serif;
    height: 48px;
    min-width: 148px;
    color: #737373;
    padding: 12px 9px;
    margin: 5px 0 20px 0;
    border: solid 1px #575757;
    word-wrap: break-word;
    resize: vertical;
    font-size: 16px;
      font-weight: 400;
}
.ReviewFormControl input {
  height: 48px;
}

.ReviewFormControl textarea {
  height: auto;
}
.radioButtonContainer{
display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  align-items: center;
  justify-content: flex-start;
}
.radioButtonItem {
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.radioButtonItem label{
  margin: 0;
}
.radioButton {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #FD6B21;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 15px !important;
}

.radioButton:checked {
  background-color: #FD6B21;
}
.radioButton:hover, .radioButton:focus, .radioButton:active{
  border: 1px solid #FD6B21 !important;
  outline: #fff !important;

}

.submitButton {
  background-color: #FD6B21;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 40px;
}
.submitButton:hover{
  background-color: #da4d07;
}
.submitButton:disabled {
  background-color: #737373;
  color: #fff;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {

  /* reducing the radio botton size on mobile */
  .radioButton {
    width: 1em;
    height: 1em;
  }

}
/* Basic Product Info */

.BasicProductInfoContainerTitle{
  text-align: center;
}

.BasicProductInfoImageContainer{
  margin: 0 auto 20px auto;
  width:170px;
  background-color: #F2F2F2;
}
.BasicProductInfoImageContainer img{
  width:100%;
}


/* Image upload */

.FileInputContainer {
  margin: 20px 0;
  width:120px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 16px;
  margin-right: 10px;
  background: #f7f7f7;
  border: 1px solid #FD6B21;
  border-radius: 500px;
  font-size: 1.85rem;
  color: #FD6B21;
  transition: all .3s;
  cursor: pointer;
}
.FileInputContainer:hover {
  background: #FD6B21;
  color: white;
  cursor: pointer;
}

.FileInputContainer svg {
  height: 20px;
  width: 20px;
  transition: all .3s;
  cursor: pointer;
}

.FileInputContainer input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.FileInputContainer span {
  display: block;
  padding: 0 8px;
}

.FileInputContainer input[type="file" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  align-items: baseline;
  color: inherit;
  text-overflow: ellipsis;
  white-space: pre;
  text-align: start !important;
  padding: initial;
  border: initial;
  overflow: hidden !important;
}

/* newpost preview images */
.NewPostPreviewImages {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.NewPostPreviewImages img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10%;
  opacity: 0.7;
}

.NewPostPreviewImages img:hover {
  opacity: 1;
}

.NewPostPreviewImages img:not(:first-child) {
  margin-left: 10px;
}

.NewPostPreviewImages span {
  font-size: 1.8rem;
  color: black;
  font-weight: 400;
  margin-left: 10px;
  cursor: pointer;
}

.successContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  text-align: center;
  padding: 10%;
}