.Container {
  display: block;
  margin-top: 0;
  position: absolute;
  bottom: 50px;
  width: 90%;
  margin-right: 2rem;
}
.spfCircle {
  background-color: #ff6b00;
  font-size: 12px;
  color: white;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  text-align: center;
  padding: 5px;
  font-weight: 600;
  cursor: pointer;
  -webkit-border-radius: 50%;
}
.spfCircle:hover {
  background-color: #d5600d;
  /* outline: #ff6b00 solid 1px; */
  box-shadow: 0 0 0 1px #ff6b00;
  border: 1px solid white;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  color: white;
  transform: scale(1.2);
}
.spfSelected {
  box-shadow: 0 0 0 2px #ff6b00;
  border: 1px solid white;
  border-radius: 50%;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  color: white;
  width: 28px;
  height: 28px;
}
.addToCartButton {
  background-color: white;
  color: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 8px 8px;
  width: 100%;
}
.addToCartButton:hover {
  border: 1px solid #ff6b00;
}

.outOfStock {
  background-color: #d2d2d2 !important;
}
.buttonOutOfStock {
  color: #d2d2d2 !important;
  cursor: not-allowed !important;
}
