.addToCartBtn {
  transition: all 300ms;

  background-color: #ff6b00;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 8px 8px;

  width: 100%;

  border-radius: 5px;
}

.addToCartBtn:hover {
  transition: all 300ms;

  background-color: #d95700;
}
