.search{
    padding: 12px;
}

.searchTitle{
    font-size: 18px;
    color: #999999;

    margin-right: 12px;
}

.divider{
    height: 1px;
    width: 100%;

    background-color: #999999;

    margin-top: 12px;
}

.searchValue{
    font-size: 24px;
}

.noResult{
    font-size: 24px;
    color: #737272;
}

.searchElementContainer{
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;

    padding: 12px;
}

@media  screen and (max-width: 640px) {
    .searchTitle{
        font-size: 16px;
    }

    .searchValue{
        font-size: 20px;
    }

}

@media  screen and (max-width: 400px) {
    .searchTitle{
        font-size: 14px;
    }

    .searchValue{
        font-size: 18px;
    }

}