.filters {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
}

.filterItem {
  font-size: 13px;
  margin-right: 8px;
  padding: 5px 5px;
  color: rgba(117, 117, 117, 1);
  border: 1px solid rgba(230, 230, 230, 1);
  cursor: pointer;
}
