.productHolder {
  background-color: white;
  border-radius: 15px;
  min-height: 380px;
  margin-right: 20px;
  padding: 20px;
  position: relative;
}
.ProductImage {
  height: 220px;
  max-height: 220px;
  width: 100%;
}
.ProductImage img {
  width: 90%;
  margin: 0 auto;
  height: 210px;
  object-fit: contain;
}

.productHolder:hover {
  border: 1px solid #fc6b21;
}
.bottomText {
  position: absolute;
  bottom: 10px;
  top: 235px;
}
.bottomText p {
  font-size: 1.4rem;
}

@media only screen and (min-width: 1400px) {
  .productHolder {
    height: 300px;
    overflow: hidden;
  }
  .ProductImage img {
    width: auto;
    height: 100%;
  }
}

@media only screen and (max-width: 475px) {
  .ProductImage {
    height: 200px;
    overflow: hidden;
  }
  .ProductImage img {
    width: auto;
    height: 200px;
  }
}

.starReview {
  font-size: 1.6rem;
}
.starReview .half-star-holder {
  font-size: 1.6rem;
}
.starReview .half-star-holder img {
  height: 50px !important;
}
