.dot {
  width: 35px;
  height: 35px;
  position: absolute;
  background: url(https://image.ibb.co/kyUHab/rose.png);
  background-size: 100% 100%;
}
html,
body,
#container {
  width: 100%;
  height: 100%;
}
#logo {
  left: 50%;
  top: 50%;
  position: absolute;
  border-radius: 10px;
}
